<center>
	<form action="../controller/changepass.php" method="post">
		<table border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td>
					<fieldset>
						<legend>CHANGE PASSWORD</legend>
						Current Password<br />
						<input type="password" name="password" /><br />
						New Password<br />
						<input type="password" name="npassword" /><br />
						Retype New Password<br />
						<input type="password" name="rnpassword"/>								
						<hr />
						<input type="submit" name="change" value="Change" />     
						<a href="home.html">Home</a>						
					</fieldset>
				</td>
			</tr>
		</table>
	</form>
</center>